<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>

    {% endif %}
    <!doctype html>
    <html lang="eng">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
              integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
              crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
                integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
                crossorigin=""></script>
        <meta name="description" content="Django Project Page">
        <meta name="keywords" content="html for django project">
    </head>
    <body>
    <div id="map" style="width: 600px; height: 400px; position: relative;">
    </div>
    <button onclick="getCurrentLocation()">Current Location</button>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script>
        var map = L.map('map').setView([28.3949, 84.1240], 8);

    //osm layer
    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    osm.addTo(map);

    L.control.locate().addTo(map);
    </script>
    </body>
    </html>
{% endblock %}


